<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Christie Air </h1>
  <img src="http://i.imgur.com/CWLTrDM.jpg" alt="Christie Air" style="width:512px;height:384px;">

  <h2>Search flights by airport (enter origin and destination)</h2>
  <form method="POST" action="/search_flights_by_airport">
  <!-- <p>Select origin (required):
  <select name = "Origin">
    <option value="TPE">TPE</option>
    <option value="JFK">JFK</option>
    <option value="SFO">SFO</option>

  </select>
  </p> -->
  <p>Enter origin (required): <input type="text" name="origin"> </p>
  <p>Enter destination (required): <input type="text" name="destination"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Search all flights under a particular airline</h2>
  <form method="POST" action="/search_flights_by_airline">
  <p>Enter airline (required): <input type="text" name="airline"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Find past ticket records for a customer</h2>
  <form method="POST" action="/search_customers_past_flights">
  <p>Enter email (optional): <input type="text" name = "email"></p>
  <p>Enter first name (optional): <input type="text" name = "firstname"></p>
  <p>Enter last name (optional): <input type="text" name = "lastname"></p>
  <p>Enter phone number (optional): <input type="text" name="phonenumber"></p>
  <p>Enter flight number (optional): <input type="text" name="flightnumber"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Find flights sorted by price</h2>
  <form method="POST" action="/find_cheapest_flight">
  <p>Enter origin (required): <input type="text" name="origin"></p>
  <p>Enter destination (required): <input type="text" name="destination"></p>
  <p>Enter airline (optional): <input type="text" name="airline"></p>
  <p>Enter departure date (optional): <input type="text" name="departure_date"></p>
  <p>Enter arrival date (optional): <input type="text" name="arrival_date"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Find frequent flyer account information for a customer</h2>
  <form method="POST" action="/search_customer_FFA">
  <p>Enter customer email (required): <input type="text" name="customer_email"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Search all airplanes owned by a particular airline</h2>
  <form method="POST" action="/search_airlines_airplanes">
  <p>Enter airline (required): <input type="text" name="airline"> <input type="submit" value="Enter"></p>
  </form>

  <h2>Find flight info</h2>
  <form method="POST" action="/find_flight_info">
  <p>Enter flight number (optional): <input type="text" name="flightnumber"> </p>
  <p>Enter origin (optional): <input type="text" name="origin"> </p>
  <p>Enter destination (optional): <input type="text" name="destination"> <input type="submit" value="Enter"></p>
  </form>

</body>


</html>
